@charset "ISO-8859-1";
body {
    font-family: 'Poppins','sans-serif';
    background: linear-gradient(184deg,#8754ff,#8E2DE2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
form {
    margin-bottom: 20px;
}
.question-group {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.question-group label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}
.question-group input[type="text"], .question-group input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}
.question-group input[type="text"]:focus, .question-group input[type="number"]:focus {
    outline: none;
    border-color: #3498db;
}
.remove-question {
    position: absolute;
    padding: 5px 10px;
    top: 20px;
    right: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 600;
}
.remove-question:hover {
    background-color: #c0392b;
}
.add-question {
    background-color: #3498db;
}
.btn{
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px auto;
    width :100%;
    border: none;
    cursor: pointer;
    display: block;
    transition: background-color 0.3s;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 600;
}
.add-question:hover {
    background-color: #2980b9;
}

.submit{
    background-color: #27ae60;
}
.submit{
    background-color: #219e54;
}
.back-button {
    background-color: #d35400;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
}
.back-button:hover {
    background-color: #b03c00;
}